.App {
  display: block;
  text-align: center;
  height: 100vh;
  background-color: #FA34F3;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-rows: 50% 50%;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.gotchi-list {
  background-color: white;
  border-left: 5px solid black;
  border-right: 5px solid black;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .container {
    max-width: 1300px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: revert;
  }
  .selected-container {
    box-sizing: border-box;
    padding: 16px;
    height: 100%;
  }
}